<!-- <highcharts-chart 
  [Highcharts]="Highcharts"
  [constructorType]="chartConstructor"
  [options]="chartOptions"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart> -->

<h2>Demo #3: Highmaps map chart</h2>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [constructorType]="'mapChart'"
    [options]="chartMap"

    style="width: 100%; height: 650px; display: block;"
  ></highcharts-chart>


  <coral-combo-box id="users" tabindex="0"></coral-combo-box>