coral-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 500px;
  margin: 0 auto;
  border: solid 1px #e1e1e1;

  h1 {
    margin-top: 40px;
  }

  coral-input:last-of-type {
    margin-bottom: 40px;
  }
}
