<!-- <coral-panel spacing>
  <h1>{{title}}</h1>
  <coral-input type="text" placeholder="Username" [value]="username" (value-changed)="username=$event.detail.value"></coral-input>
  <coral-input type="password" icon="eye-blocked" placeholder="Password" [value]="password" (value-changed)="password=$event.detail.value"></coral-input>
  <coral-button cta (click)="login()" [disabled]="valid">Login</coral-button>
</coral-panel> -->

<router-outlet></router-outlet>



